#title{
	font-size: 26px;
	line-height: 75px;
}

.menu-object{
	display: grid;
	grid-template-columns: 1fr 30rem 1fr;
	grid-gap: 0.625rem;
	grid-auto-rows: minmax(6.25rem, auto);
}

.titol{
	grid-column: 2/3;
	grid-row: 1;
}

.button {
	grid-column: 2/3;
	grid-row: auto;
}

p{
	text-align: center;
}