#title{
	font-size: 1.625rem;
	line-height: 4.688px;
}

.menu-object{
	display: grid;
	grid-template-columns: 1fr 30rem 1fr;
	grid-gap: 0.625rem;
	grid-auto-rows: minmax(6.25rem, auto);
}

.titol{
	grid-column: 2/3;
	grid-row: 1;
}

.button {
	font-size: 1.25rem;
	grid-column: 2/3;
	grid-row: auto;
}

p{
	text-align: center;
}

button.button:active{
	width: 17.188rem;
	height: 4.375rem;
	margin: auto;

}

button.button:hover:not(:active){
	width: 27.313rem;
	height: 5.313rem;
	box-shadow: 2px 2px 5px #9f4dfc;
	margin: auto;
}
