input[type=number]{
	height: 3rem;
    font-size: 1.3rem;
    font-weight: bold;
    width: 3rem;
    text-align: center;
}

body{
	background-color: rgb(152, 179, 150);
	font-family: sans-serif;
}

#title{
	font-size: 2.063rem;
	color: rgb(98, 124, 95);
	font-family: sans-serif;
}

.titol{
	grid-column: 2/3;
	grid-row: 1;
}

.return{
	grid-column: 2/3;
	grid-row: 4;
	margin: auto;
}

.menu-object{
	display: grid;
	grid-template-columns: 1fr 30rem 1fr;
	grid-gap: 0.625rem;
	grid-auto-rows: minmax(6.25rem, auto);
}

.opcioCartes{
	grid-column: 2/3;
	grid-row: 2;
	margin: auto;
}

.opcioDificultat{
	grid-column: 2/3;
	grid-row: 3;
	margin: auto;
}

#saves_id{
	grid-column: 2/3;
	grid-row: 2;
	margin: auto;
}

p{
	font-size: 1.263rem;
	text-align: center;
}

button.button{
	font-size: 1.563rem;
	grid-column: 2/3;
	color: rgb(98, 124, 95);
	background-color: rgb(153, 178, 151);
	
	border: 0.125rem solid rgb(98, 124, 95);
}

button.button:active{
	width: 17.188rem;
	height: 4.375rem;
	background-color: rgb(98, 124, 95);
	color: rgb(153, 178, 151);
	margin: auto;
}

button.button:hover:not(:active){
	width: 27.313rem;
	height: 5.313rem;
	background-color: rgb(98, 124, 95);
	color: rgb(153, 178, 151);
	margin: auto;
}

